CODEOWNERS
*         @dantes-git @tarcisiogc @tuliopereirazup @hernandazevedozup @matheusribeirozup @hthemir @danilorochazup @ze12augusto @LG95 @lucka3s @theffc @victormr @yandiaszup @gmarson @uziasferreirazup @lucasaraujo @jefersonlopeszup @paulomeurerzup @adautopaulazup @gabrielleonardozup @lucasfonsecazup @carlossteinzup @viniciusguardieirozup @luisgustavozup @luisoliveirazup @joaoabreuzup @jenifersantoszup @vitorbassozup @luismaximozup @rafaelneiva @mdcpmoreira @jessica-tw @victorrabelozup @jacoabreuzup @tiagoperes @tayronemachadozup @jamessonpenhazup @hectorcustodiozup
