CODEOWNERS
*         @dantes-git @tarcisiogc @tuliopereirazup @hernandazevedozup @matheusribeirozup @hthemir @danilorochazup @ze12augusto @LG95 @lucka3s @theffc @victormr @yandiaszup @uziasferreirazup @lucasaraujo @jefersonlopeszup @paulomeurerzup @gabrielleonardozup @lucasfonsecazup @carlossteinzup @viniciusguardieirozup @luisoliveirazup @joaoabreuzup @jenifersantoszup @vitorbassozup @luismaximozup @rafaelneiva @mdcpmoreira @jessica-tw @victorrabelozup @jacoabreuzup @tiagoperes @tayronemachadozup @jamessonpenhazup @hectorcustodiozup @jgenisellizup
