/*

Add styles or override variables from the theme here.

*/

a {
    color:  #3176d9 !important;
    background-color: transparent; 
    text-decoration: none;
    :hover {
      color:  #3176d9;
      text-decoration: underline;
    }
  }